$black: #000;
$white: #fff;
$emerald: #00D885; 
$yolk: #FF9B00;
$ultraLight: #695CFF;
$pink: #E7045E;
$charcoal: #121212;
$gray: #999999;

$neueHaasGroteskDisplay: 'neue-haas-grotesk-display';
$neueHaasGroteskText: 'neue-haas-grotesk-text';

body {
    margin: 0;
    font-family: $neueHaasGroteskText, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: neue-haas-grotesk-display;
    font-weight: 700;
  }

h1 { font-size: 4.5em; }  
  
p {
    font-family: neue-haas-grotesk-text;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4em;
    color: $white;
    /* font-size: 18px;
    line-height: 26px; */
  }

.font-display-reg {
    font-family: $neueHaasGroteskDisplay, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-display-bold {
    font-family: $neueHaasGroteskDisplay, sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.font-text-reg {
    font-family: $neueHaasGroteskText, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-text-bold {
    font-family: $neueHaasGroteskText, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.italic { font-style: italic; }

.black { color: $black; }
.white { color: $white; }
.emerald { color: $emerald; }
.yolk { color: $yolk; }
.ultraLight { color: $ultraLight; }
.pink { color: $pink; }
.charcoal { color: $charcoal; }
.gray { color: $gray; }

.bg-black { background-color: $black; }
.bg-white { background-color: $white; }
.bg-emarald { background-color: $emerald; }
.bg-yolk { background-color: $yolk; }
.bg-ultraLight { background-color: $ultraLight; }
.bg-pink { background-color: $pink; }
.bg-charcoal { background-color: $charcoal; }
.bg-gray { background-color: $gray; }

.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }

.pointer { cursor: pointer; }

.hide { display: none; }
.block { display: block; }
.flex { display: flex; }
.flex-v-center { 
    align-items: center; 
}