@import './helper.scss';

.supply-chain-interactive-conainer { 
    max-width: 1170px; 
    margin: 0 auto;   
    // padding-bottom: 100px;
    box-sizing: border-box;
}

.header-container {
    margin: 0 auto;
    max-width : 880px;
    padding: 50px;
    h1 {
        // font-size: 65px;
        padding-top: 45px;
    }
}

.introText-box {
    padding-top: 30px;
    width: 500px;
    margin: 0 auto;   
}

.ultra-light-sqaure-box {
    border: $ultraLight solid 3px;
    width: 30px;
    height: 30px;
    padding: 6px 3px 0 3px;
    margin-right: 20px;
    flex-basis: 30px;
	flex-grow: 0;
	flex-shrink: 0;
}

.ultra-light-text-box {
    border: $ultraLight solid 3px;
    padding: 15px 20px;   
    max-width: 450px; 
}

.scroll-board {
    height: 100vh;
    // background-color: $charcoal;
    margin: 0 auto;
    padding: 50px 20px;
    top: 0;
    right: 0;
    position: sticky;
    box-sizing: border-box;
}

.scroll-el {
    margin: 40vh auto 80vh auto;
    max-width: 29rem;
    position: relative;
    top: 0;
    left: 0;
    background: $black;
    border: 3px solid $ultraLight;
    padding: 10px 20px;
    &__text {
        color: $white;        
        background: $black;
    }   
}

.scroll-el-filter {
    max-width: 450px;
    margin: 95vh auto 0 auto;
}

.animation-el {
    position: relative;
    top: 10px;
    left: 10px;
}

.tool-wrapper {
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;    
    display: flex;
    &__sidebar {
        width: 25%;
        &--header {
            height: 70px;
            padding: 1em 0;     
            .toggle-btn {
                color: $white;
                margin-left: 30px;
            }       
        }
        &--label {
            margin-bottom: -5px;
            padding-top: 15px;
        }
        &--line {
            border-bottom: solid $white 0.5px;
            padding: 5px;
            margin-bottom: 20px;
        }
    }

    &__tool {
        width: 75%; 
        margin-left: 5%;
        &--header {
            height: 70px;
            text-align: center;
        }
        &--container {            
            height: 90vh;
            text-align: center;      
        }
        
    }

    .legend-box {  
        display: flex;
        justify-content: center;
        &__circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;  
            margin-right: 12px;  
            &--solid {
                border: $white solid 1px;
                background-color: $white;
            }
            &--dotted {
                border: $white dotted 1px;
            }    
        }
        &__square {
            width: 12px;
            height: 12px;
            margin-right: 12px;  
            &--cold {
                background-color: $ultraLight;
            }
            &--hot {
                background-color: $pink;
            }
        }
        &__text {
            font-size: 0.8em;
            color: $white;
        }
    }
}

.tooltip {
    position: fixed;
    top: 50px;
    left: 50px;
    visibility: hidden;
    z-index: 999;
    padding: 15px;
    background-color: $charcoal;
    opacity: 0.9;
    max-width: 200px;    
    font-size: 1em;
}

.cta-btn {
    border: $ultraLight 3px solid;
    padding: 10px 20px;
    &:hover {
        background: $ultraLight;
        transition: background 0.5s;
    }

    &__arrow {
        margin-left: 12px;
        margin-top: 5px;
    }
}

.industry-filter {
    width: 100%;
    position: relative;
    // height: 70vh;
    // overflow-y: scroll;
    &__arrow {
        position: absolute;
        right: 10px;
        top: 7px;
    }
    &__label {
        padding-bottom: 12px;
        border-bottom: solid $ultraLight 2px;
    }

    &__ul {
        position: absolute;
        min-width: 350px;
        // top: 19px;
        // top: -430px;
        left: 0;     
        z-index: 999;
        padding-left: 0;   
        background: $charcoal;
        list-style: none;
        &--list {
            padding: 10px 20px;
        }
        
        &--list:hover, .selected {
            background-color: $ultraLight;
            color: $white;
        }
    }
}

