body {
  margin: 0;
  font-family: "neue-haas-grotesk-text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
}

p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4em;
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.font-display-reg {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-display-bold {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-text-reg {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-text-bold {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.italic {
  font-style: italic;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.emerald {
  color: #00D885;
}

.lightEmerald {
  color: #99CEBA;
}

.yolk {
  color: #FF9B00;
}

.lightYolk {
  color: #ffd799;
}

.ultraMarine {
  color: #321aad;
}

.ultraLight {
  color: #695CFF;
}

.pink {
  color: #E7045E;
}

.charcoal {
  color: #121212;
}

.gray {
  color: #999999;
}

.mediumGray {
  color: #666;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.bg-emerald {
  background-color: #00D885;
}

.bg-lightEmerald {
  background-color: #99CEBA;
}

.bg-yolk {
  background-color: #FF9B00;
}

.bg-lightYolk {
  background-color: #ffd799;
}

.bg-ultraMarine {
  background-color: #321aad;
}

.bg-ultraLight {
  background-color: #695CFF;
}

.bg-pink {
  background-color: #E7045E;
}

.bg-charcoal {
  background-color: #121212;
}

.bg-gray {
  background-color: #999999;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.max-width-wrapper {
  max-width: 1270px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-wrapper {
  padding: 50px 30px;
}

.intro-section {
  max-width: 900px;
}

.intro-section__logo {
  margin: 0 auto;
  width: 55px;
}

.intro-section__title {
  font-size: 48px;
  padding-bottom: 30px;
}

.intro-section__textbox {
  max-width: 550px;
  margin: 0 auto;
}

.intro-section__textbox p {
  font-size: 18px;
}

.intro-section__imgbox {
  max-width: 450px;
  margin: 0 auto;
  padding: 30px 0;
}

.intro-section__chartImg {
  width: 550px;
  margin: 0 auto;
}

.scroll-cta {
  color: #fff;
  position: fixed;
  right: calc((100vw - 1270px) / 2);
  bottom: 70px;
}

.scroll-cta-mobile {
  display: none;
}

.scroll-arrow {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.tool-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tool-section__sidebar {
  width: 15%;
}

.tool-section__sidebar .sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  left: 0;
  color: #666;
  height: calc(100vh - 140px);
}

.tool-section__sidebar .sticky-nav .nav-menu {
  margin-bottom: 30px;
}

.tool-section__sidebar .sticky-nav .nav-menu a {
  color: inherit;
}

.tool-section__sidebar .sticky-nav .nav-menu a:hover {
  text-decoration: none;
}

.tool-section__sidebar .sticky-nav .sub-menu {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 0.8em;
}

.tool-section__chart {
  width: 85%;
}

.tool-section__chart .chart-box {
  background-color: #121212;
}

.tool-section__topbar {
  display: none;
}

.source {
  position: absolute;
  bottom: 10px;
  left: 50px;
}

.source.source-mobile {
  display: none;
  font-size: 0.8em;
}

.scroll-board {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 100vh;
}

.scroll-board__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.scroll-board__chart .chart-box {
  padding: 20px 30px;
  width: 55%;
  height: 80%;
  max-height: 750px;
  position: relative;
}

.scroll-box {
  width: 35%;
}

.scroll-el {
  padding: 10px 15px;
  background-color: #000;
}

.scroll-el__label {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.scroll-el__title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

.scroll-el__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.scroll-el__colLeft {
  width: 30%;
}

.scroll-el__colRight {
  width: 70%;
  padding-left: 5px;
}

.scroll-el.empty {
  background-color: transparent;
}

.bar-dim {
  opacity: 1;
}

.bar-dim.dim {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0.2;
}

.bar-dim.dim-light {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0.2;
}

.bar-dim.dim-font {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
  fill: #121212;
}

.bar-dim.dim-lit {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
  fill: #fff;
}

.legend-box__square {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.legend-box p {
  font-size: 0.8em;
}

@media only screen and (max-width: 550px) {
  .scroll-cta {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .intro-section__title {
    font-size: 38px;
  }
  .intro-section__imgbox {
    width: 80%;
  }
  .intro-section__chartImg {
    width: calc(100vw - 60px);
    max-width: 550px;
  }
  .scroll-cta-mobile {
    display: block;
    padding-top: 20px;
  }
  .scroll-el.mb {
    margin-bottom: 90vh !important;
  }
  .tool-section {
    display: block;
  }
  .tool-section__chart {
    display: block;
    width: 100%;
  }
  .tool-section .chart-box {
    width: 100%;
    background-color: #000;
    padding: 20px 0;
    height: 100%;
    background-color: transparent;
  }
  .tool-section__sidebar {
    display: none;
  }
  .tool-section__topbar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999999;
    background-color: #000;
    padding-top: 12px;
  }
  .tool-section__topbar .nav-menu-mobile {
    margin: 0 5px;
  }
  .sticky-nav-mobile {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .sticky-nav-mobile .nav-menu-mobile {
    width: 25%;
    text-align: center;
  }
  .sticky-nav-mobile .active-menu-mobile {
    width: 100%;
    height: 3px;
    margin-top: 5px;
  }
  .source {
    display: none;
  }
  .source.source-mobile {
    display: block;
    bottom: 0px;
    left: 0;
  }
  .source-mobile p {
    font-size: 0.8em;
  }
  .scroll-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateZ(0);
    z-index: 9999999;
    width: 100%;
  }
  .scroll-box .scroll-el {
    width: 90%;
    background: #121212;
    opacity: 0.9;
  }
  .scroll-box .scroll-el__label {
    font-size: 16px;
    margin-top: 15px;
  }
  .scroll-box .scroll-el__title {
    font-size: 16px;
    margin-top: 15px;
  }
  .scroll-box .scroll-el.empty {
    background-color: transparent;
  }
  .scroll-box .scroll-el.mb0-mobile {
    margin-bottom: 0 !important;
  }
}

@media only screen and (max-width: 1270px) {
  .scroll-cta {
    right: 50px;
    bottom: 50px;
  }
}
/*# sourceMappingURL=main.css.map */